<div class="container">
    <div class="row">
        <div class="col-md-9">
            <hr>
            <h4>Frequency asked questions</h4>
        </div>
    </div>
    <hr>
    <br> <br> <br>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-9">


            <div class="container">

            </div>


            <br> <br>
            <hr>

        </div>

        <div class="col-md-3">

            <div class="card-block">

            </div>

        </div>
    </div>
</div>
